</head>
<body>
  <nav>
		<i class="fa-solid fa-plane"></i>
    <a 
      href="/flights/new" <%- title === 'Add Flights' ? 'class="active"' : '' %>
    >
      ADD FLIGHT
    </a>
    <a 
      href="/flights/index" <%- title === 'All Flights' ? 'class="active"' : '' %>
    >
      ALL FLIGHT
    </a>
  </nav>